header{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
ul{
     display: flex;
}
ul li{
     list-style: none;
}
ul li a{
     text-decoration: none;
     margin-left: 15px;
     font-size: 16px;
}
button{
     margin-right: 200px;
     background-color: tomato;
     border: none;
     padding: 10px 25px;
     color: #fff;
     font-size: 18px;
}